{% extends 'base.html.twig' %}

{% block title %}Mon compte _ La boutique française
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<small>
			<a href="/admin">Vous êtes un administrateur, accéder au backoffice</a>
		</small><br>
	{% endif %}
	Bienvenue
	{{ app.user.firstname }}
	dans votre compte.<br/>
	C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset("assets/img/secure.png")}}" alt="Modifier mon mot de passe"><br>
				<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="account-item">
				<img src="{{ asset("/assets/img/notebook.png")}}" alt="Gerer mes adresses"><br>
				<a href="{{ path('account_address') }}">Gerer mes adresses</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset("assets/img/shopping-cart-01.png")}}" alt="Mes commandes"><br>
				<a href="{{ path('account_order') }}">Mes commandes</a>
			</div>
		</div>
	</div>
{% endblock %}
